.markdown {
  margin-top: 2rem;
  line-height: 2;

  & code {
    color: $red;
    font-family: Consolas, monaco, monospace;
  }

  & > ul,
  & > ol {
    margin-left: 1.5rem;
    margin-bottom: 1rem;

    & ul,
    & ol {
      margin-left: 1.5rem;
    }
  }

  & li {
    margin-bottom: 0.2rem;
  }

  & > h2,
  & > h3,
  & > h4 {
    font-weight: normal;
    color: $blue;
    margin-bottom: 1rem;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      width: 2px;
      height: 1em;
      top: 50%;
      margin-top: -0.5em;
      right: calc(100% + 0.5rem);
      background: $red;
    }
  }

  & > hr {
    margin-bottom: 1rem;
  }

  & > p {
    margin-bottom: 1rem;
  }

  & > blockquote {
    font-style: italic;
    border-left: 2px solid rgba($blue, 0.5);
    padding-left: 1rem;
    margin-bottom: 1rem;
  }

  a {
    color: $red;
    text-decoration: none;
    border-bottom: 2px solid rgba($red, 0);
    transition: border-bottom-color 0.2s;

    &:hover {
      border-bottom-color: $red;
    }
  }
}
