$red: #dd6a58;
$blue: #2c3e50;

@mixin mobile {
  @media (max-width: 420px) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  border: 0.75rem solid rgba($blue, .95);
  border-bottom: 0;
  font: 100% / 1.5 "Helvetica Neue", helvetica, arial, sans-serif;
  min-height: 100vh;

  @include mobile {
    border: 0;
  }
}

img {
  max-width: 100%;
}

@import "_install-banner";
@import "_markdown";
@import "_content";
@import "_content-nav";
@import "_table-of-contents";
@import "_pagination";
@import "_highlight";
