<h2 class="toc_header">Table of Contents</h2>
<p class="toc_note"><em>Note: It is strongly encouraged to read all sections in order.</em></p>
<ul class="toc">
  {{#each model.tableOfContents as |entry|}}
    <li class="toc_item">
      {{#link-to "guide.page" entry.page class="toc_link"}}
        {{entry.title}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>
