:root {
 --brand-primary: #C0260C;
}

/* FIX tailwind */

a {
  color: inherit;
  text-decoration: underline;
}

/* FIX tailwind */

.not-found {
  max-width: 40rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.docs-md ul {
  list-style: disc;
}

.docs-md ol {
  list-style: decimal;
}

@media only screen and (min-width: 40.0625em) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.4;
  }

  h1 {
    font-size: 2.75rem;
  }

  h2 {
    font-size: 2.3125rem;
  }

  h3 {
    font-size: 1.6875rem;
  }

  h4 {
    font-size: 1.4375rem;
  }

  h5 {
    font-size: 1.125rem;
  }

  h6 {
    font-size: 1rem;
  }
}
