<section class="content">
  <h2 class="content_title"><span>Ember</span> Engines - Guide</h2>

  <nav class="content-nav">
    {{#link-to-external "home" class="content-nav_link"}}Intro{{/link-to-external}}
    {{#link-to "index" current-when="index" class="content-nav_link"}}Guide{{/link-to}}
    <a href="https://github.com/ember-engines" target="_blank" class="content-nav_link">GitHub</a>
  </nav>

  {{liquid-outlet}}

</section>
