{{#liquid-bind model class="page-content" as |page|}}

  {{markdown-to-html
    markdown=(fr-markdown-file page.currentPageMarkdown)
    extensions="highlight"
    class="markdown" }}

  <div class="pagination">
    {{#if page.prevPage}}
      {{#link-to "page" page.prevPage.page class="pagination_prev pagination_link"}}
        Previous: {{page.prevPage.title}}
      {{/link-to}}
    {{/if}}

    {{#if page.nextPage}}
      {{#link-to "page" page.nextPage.page class="pagination_next pagination_link"}}
        Next: {{page.nextPage.title}}
      {{/link-to}}
    {{/if}}
  </div>
{{/liquid-bind}}
