<section class="content">
  <h2 class="content_title"><span>Ember</span> Engines</h2>

  <nav class="content-nav">
    {{#link-to "index" class="content-nav_link"}}Intro{{/link-to}}
    {{#link-to "guide" class="content-nav_link"}}Guide{{/link-to}}
    <a href="https://github.com/ember-engines" target="_blank" class="content-nav_link">GitHub</a>
  </nav>

  <div class="markdown">
    {{md-text text=(fr-markdown-file "guide/introduction") typographer=true}}
  </div>
</section>
