<section class="content">
  <h2 class="content_title"><span>Ember</span> Engines</h2>

  <nav class="content-nav">
    {{#link-to "index" class="content-nav_link"}}Intro{{/link-to}}
    {{#link-to "guide" class="content-nav_link"}}Guide{{/link-to}}
    <a href="https://github.com/ember-engines" target="_blank" class="content-nav_link">GitHub</a>
  </nav>

  <h2>What Are Engines?</h2>

  <p>Mustache lyft banh mi drinking vinegar voluptate.  Shoreditch typewriter offal meggings, DIY vegan food truck sapiente cronut blog quinoa copper mug.  Commodo proident quis nesciunt.  Biodiesel kitsch man bun, literally woke fixie bicycle rights chillwave.  Microdosing actually godard chillwave, roof party swag direct trade  laboris  90's lyft leggings waistcoat cornhole quis health goth.  Chia beard bespoke, ad quinoa yuccie sartorial.  Nisi ennui echo park, dolore put a bird on it master cleanse nesciunt microdosing prism.</p>

  <h2>Why Use Engines?</h2>

  <p>Mustache lyft banh mi drinking vinegar voluptate.  Shoreditch typewriter offal meggings, DIY vegan food truck sapiente cronut blog quinoa copper mug.  Commodo proident quis nesciunt.  Biodiesel kitsch man bun, literally woke fixie bicycle rights chillwave.  Microdosing actually godard chillwave, roof party swag direct trade  laboris  90's lyft leggings waistcoat cornhole quis health goth.  Chia beard bespoke, ad quinoa yuccie sartorial.  Nisi ennui echo park, dolore put a bird on it master cleanse nesciunt microdosing prism.</p>

  <h2>Get Help &amp; Contribute</h2>

  <p>The Engines source code is available on GitHub. If you run into an error, please file an issue.</p>
  <p>The best way to get help is via the Ember Community Slack. Once you’ve signed up, join the #-ember-engines channel.</p>

  <h2>Engines Roadmap</h2>

  <p>Ember Engines are currently pre-1.0 software and under active development. You can track progress to Ember Engines 1.0 by visiting the Road to 1.0 GitHub issue.</p>
</section>
