<header class="install-banner">
  <h1 class="install-banner_title"><span>Ember</span> Engines</h1>

  <div class="install-banner_snippet">
    <code>ember install ember-engines</code>
  </div>

  <p class="install-banner_tagline">Composable applications for ambitious user experiences.</p>

  <div class="install-banner_actions">
    <a href="#" class="install-banner_action">Guide</a>
    <a href="#" class="install-banner_action">GitHub</a>
  </div>
</header>

<section class="content">
  <nav class="content-nav">
    <a href="#" class="content-nav_link">Intro</a>
    <a href="#" class="content-nav_link">Guide</a>
  </nav>

  <h2>What Are Engines?</h2>

  <p>Mustache lyft banh mi drinking vinegar voluptate.  Shoreditch typewriter offal meggings, DIY vegan food truck sapiente cronut blog quinoa copper mug.  Commodo proident quis nesciunt.  Biodiesel kitsch man bun, literally woke fixie bicycle rights chillwave.  Microdosing actually godard chillwave, roof party swag direct trade  laboris  90's lyft leggings waistcoat cornhole quis health goth.  Chia beard bespoke, ad quinoa yuccie sartorial.  Nisi ennui echo park, dolore put a bird on it master cleanse nesciunt microdosing prism.</p>

  <h2>Why Use Engines?</h2>

  <p>Mustache lyft banh mi drinking vinegar voluptate.  Shoreditch typewriter offal meggings, DIY vegan food truck sapiente cronut blog quinoa copper mug.  Commodo proident quis nesciunt.  Biodiesel kitsch man bun, literally woke fixie bicycle rights chillwave.  Microdosing actually godard chillwave, roof party swag direct trade  laboris  90's lyft leggings waistcoat cornhole quis health goth.  Chia beard bespoke, ad quinoa yuccie sartorial.  Nisi ennui echo park, dolore put a bird on it master cleanse nesciunt microdosing prism.</p>

  <h2>Get Help &amp; Contribute</h2>

  <h2>Engines Roadmap</h2>
</section>