<header class="install-banner">
  <h1 class="install-banner_title"><span>Ember</span> Engines</h1>

  <div class="install-banner_snippet">
    <code>ember install ember-engines</code>
  </div>

  <p class="install-banner_tagline">Composable applications for ambitious user experiences.</p>

  <div class="install-banner_actions">
    {{#link-to "guide" class="install-banner_action"}}Guide{{/link-to}}
    <a href="https://github.com/ember-engines" rel="noopener" target="_blank" class="install-banner_action">GitHub</a>
  </div>
</header>