<header class="install-banner">
  <h1 class="install-banner_title"><span>Ember</span> Engines</h1>

  <div class="install-banner_snippet">
    <code>ember install ember-engines</code>
  </div>

  <p class="install-banner_tagline">Composable applications for ambitious user experiences.</p>

  <div class="install-banner_actions">
    {{#link-to "guide" class="install-banner_action"}}Guide{{/link-to}}
    <a href="https://github.com/ember-engines" rel="noopener" target="_blank" class="install-banner_action">GitHub</a>
  </div>
</header>

<section class="content">
  <h2 class="content_title"><span>Ember</span> Engines</h2>

  <nav class="content-nav">
    {{#link-to "index" class="content-nav_link"}}Intro{{/link-to}}
    {{#link-to "guide" class="content-nav_link"}}Guide{{/link-to}}
    <a href="https://github.com/ember-engines" rel="noopener" target="_blank" class="content-nav_link">GitHub</a>
  </nav>

  {{markdown-to-html
    markdown=(fr-markdown-file "index")
    extensions="highlight"
    class="markdown" }}
</section>